.theCardsContainer {
    display:flex;
    max-width: 1200px;
    gap: 20px;
    margin: 30px auto 0;
}

.budgetCard {
    background-color: #F59E0B;
    margin-top: 30px;
    border: 1px solid rgb(255, 157, 0);
    border-radius: 15px;
}
.budgetDashboardContainer {
    background-color: #16A34A;
    padding: 0 10px 0 10px;
    margin-top: 30px;
    border: 1px solid rgb(255, 80, 80);
    border-radius: 15px;
}
.thisMSpend {
    background-color: #DC2626;
    margin-top: 30px;
    border: 1px solid rgb(0, 183, 174);
    border-radius: 15px;
}
.budgetCard,
.budgetDashboardContainer, 
.thisMSpend {
    flex: 1;
    height: 200px;
}






.budgetDashboard {
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(129, 129, 129);
    border-radius: 20px;
    position: relative;

}
.spendingsDashboard {
    position: absolute;
    background-color: green;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px
}








.monthlyDashboardContainer {
    position: relative;
}
.verticalMoneyLevels {
    position: absolute;
    top: 110px
}
.horizMonthLevels {
    display: flex;
    height: 100%;
    padding-left: 50px;
}
.byMonthDashboardContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    
}
.barArea {
    display: flex;
    align-items: flex-end;
    height: 200px;
}
.byMonthDashboard {
    width: 40px;
    background-color: green;
    border: 1px solid black;
}











.dashboardByCategoryContainer {
    background-color: rgb(162, 246, 162);
    position: relative;
    
}
.oneCategory {
    display: flex;
    flex-direction: column;
}