.budgetCard {
    background-color: pink;
    width: 400px;
    margin-top: 30px;
    height:150px;
}
.budgetDashboardContainer {
    background-color: red;
    width: 380px;
    height:150px;
    padding: 0 10px 0 10px;
    margin-top: 30px;
}
.theCardsContainer {
    display:flex;
    gap: 20px;
}
.thisMSpend {
    background-color: green;
    width: 400px;
    height:150px;
    margin-top: 30px;
}
.budgetDashboard {
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(129, 129, 129);
    border-radius: 20px;
    position: relative;

}
.spendingsDashboard {
    position: absolute;
    background-color: green;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px
}








.monthlyDashboardContainer {
    position: relative;
}
.verticalMoneyLevels {
    position: absolute;
    top: 110px
}
.horizMonthLevels {
    display: flex;
    height: 100%;
    padding-left: 50px;
}
.byMonthDashboardContainer {
    background-color: red;
    display: flex;
    flex-direction: column;
    
}
.barArea {
    display: flex;
    align-items: flex-end;
    height: 200px;
}
.byMonthDashboard {
    width: 40px;
    background-color: green;
    border: 1px solid black;
}











.dashboardByCategoryContainer {
    background-color: rgb(162, 246, 162);
    position: relative;
    
}
.oneCategory {
    display: flex;
    flex-direction: column;
}